.banner {
  img {
    width: 100%;
  }
}

.avatar {
  position: relative;
  width: 150px;

  @media (max-width: 786px) {
    width: 99px;
  }

  img {
    width: 100%;
    position: absolute;
    top: -65px;

    @media (max-width: 786px) {
      top: -33px;
    }
  }
}
