.banner {
  img {
    width: 100%;
  }
}

.avatar {
  position: relative;
  width: 150px;

  @media (max-width: 786px) {
    width: 99px;
  }

  img {
    width: 100%;
    position: absolute;
    top: -65px;

    @media (max-width: 786px) {
      top: -33px;
    }
  }
}


.slide-enter {
  transform: translateY(-100%);
  transition: .5s cubic-bezier(0, 1, 0.5, 1);

  &.slide-enter-active {
    transform: translateY(0%);
  }
}

.slide-leave {
  transform: translateY(0%);
  transition: .5s ease-in-out;

  &.slide-leave-active {
    transform: translateY(-100%);
  }
}

// .loading-shimmer{
//   height: 52px;
// }
