.no-scroll-wrapper{
    height: 100vh;
}

.login-wrapper{
    background-color: #66B100;
    display: flex;
    justify-content: center;
    align-items: center;
        height: 100vh;
  overflow: auto;
}

.modal-content{
    background: transparent;
    border: none;
}