.howitworks-banner {
  padding: 45px 0;
}

.editbutton {
  position: absolute;
  bottom: -3px;
  border: 1px solid;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 18px;
  background: white;
  cursor: pointer;
}

.editinfo {
  height: 26px;
  width: 26px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: white;
  border: 1px solid #6c757d;
  position: relative;
  top: -7px;
  cursor: pointer;
  padding: 10px;
}

.gradient-bg {
  background: rgb(250, 248, 248);
  background: linear-gradient(
    0deg,
    rgba(250, 248, 248, 1) 77%,
    rgba(8, 50, 69, 1) 72%
  );
}

.upload__image-wrapper {
  .image-item {
    position: relative;

    &:hover{

       .image-item__btn-wrapper {
        opacity: 1;
      }

    }

    img {
      width: 110px;
      height: 110px;
      object-fit: cover;
      border-radius: 5px;
    }

    .image-item__btn-wrapper {
      position: absolute;
      bottom: 4px;
      right: 6px;

      opacity: 0;

      .remove {
        background: red;
        border: none;
        border-radius: 50%;
        height: 25px;
        width: 25px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: white;
        box-shadow: 0 0.125rem 0.25rem #000000 !important;
      }

      .update {
        background: #ffc107;
        border: none;
        border-radius: 50%;
        height: 25px;
        width: 25px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
         color: white;
          box-shadow: 0 0.125rem 0.25rem #000000 !important;
      }
    }
  }
}
