.home-banner{
    background-color: #083245;
    height: 550px;


    .banner-text{
        font-weight: 600;
        color: white;
    }
}

.become-a-qwicjobber{
    background-image: url(./../../../public/images/woman-smiling-on-phone.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
    display: flex;
    align-items: center;


    @media (max-width:768px) {

          height: 500px;
        
    }
}