
.signup-wrapper{
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 59px 0;


} 

.form-control {
    padding: 0.95rem 0.75rem;
}