@import "bootstrap/scss/bootstrap.scss";

// Colors
$primary: #083245;
$secondary: #66b100;
$white: #fff;
$orange: #f27205;
$danger: #ff0000;
$info: #f27205;
//font
$font-family-base: "Montserrat", sans-serif;

$enable-negative-margins: true;

// scss-docs-start container-max-widths
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1534px,
) !default;
// scss-docs-end container-max-widths

:root {
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --bs-body-color: #083245;
}
body {
  font-family: $font-family-base !important;
}

html {
  scroll-behavior: smooth;
}

//buttons
.btn {
  border-radius: 9px;
  padding: 9px 35px !important;
  white-space: nowrap;

  &:focus {
    box-shadow: none !important;
    outline: 0 !important;
  }
}

.btn-primary {
  color: #fff !important;
  background-color: $primary !important;
  border-color: $primary !important;
}

.btn-secondary {
  color: #fff !important;
  background-color: $secondary !important;
  border-color: $secondary !important;
}

.btn-info {
  color: rgb(255, 255, 255) !important;
  background-color: $orange !important;
  border-color: $orange !important;
}

//backgrounds
.bg-primary {
  background-color: $primary !important;
}

.bg-secondary {
  background-color: $secondary !important;
}

.fw-bold {
  font-weight: 600 !important;
}

.text-success {
  color: #66b100 !important;
}

.text-orange,
.text-info {
  color: $orange !important;
}

.border-info {
  border-color: #f27203 !important;
}

a {
  color: $primary !important;
  text-decoration: none !important;
}

.section {
  padding: 92px 0 92px;
}

$objectLineheight: 0, 1, 2, inherit, initial, normal, revert, unset;

@each $tuple in $objectLineheight {
  .line-height-#{($tuple)} {
    line-height: $tuple;
  }
}

.dropdown-item.active, .dropdown-item:active {
    background-color: transparent;
}

.line-height-1half {
  line-height: 1.5;
}

//Form
.form-label {
  font-weight: 600;
  font-size: small;
}

.form-control {
  padding: 0.55rem 0.75rem;
  border-color: #e2e2e2;
  border-radius: 11px;

  &:focus {
    box-shadow: none !important;
    outline: 0 !important;
    border-color: #66b101 !important;
  }

  &::placeholder {
    color: #cdd2d7;
  }
}

.form-check-input:focus {
  border-color: unset;
  outline: 0;
  box-shadow: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

//Modals
.modal-backdrop {
  background-color: #083245;

  &.show {
    opacity: 0.97;
  }
}

.signup-quicjobber {
  height: 250px;
  width: 290px;
  background-color: $secondary;
  padding: 20px 35px;
  display: flex;
  align-items: center;
}

.find-quicjobber {
  height: 250px;
  width: 290px;
  background-color: $orange;
  padding: 20px 35px;
  display: flex;
  align-items: center;
}

input[type="file"] {
  display: none;
}

.pointer {
  cursor: pointer !important;
}

//Paginatio

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  max-width: 551px;
  margin: 3rem auto;
  border-radius: 0.6rem;
  background: #ffffff;
  box-shadow: 0px 3px 6px #00000029;
  padding: 0;

  &__numbers,
  &__btn,
  &__dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.3rem;
    font-size: 13px;
    cursor: pointer;
  }

  &__dots {
    width: 1.6rem;
    height: 1.6rem;
    color: $primary;
    cursor: initial;
  }

  &__numbers {
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 0.4rem;

    &:hover {
      color: #ffffff;
      background: $secondary;
    }

    &.active {
      color: #ffffff;
      background: $secondary;
      font-weight: 600;
      border: 1px solid $secondary;
    }
  }

  &__btn {
    color: $primary;
    pointer-events: none;

    &.active {
      color: $primary;
      pointer-events: initial;

      &:hover {
        color: $secondary;
      }
    }
  }
}


$object: (contain:contain, cover: cover, fill: fill, scale-down: scale-down);

@each $label,
$value in $object {
  .object-fit-#{$label} {
    object-fit: $value;
  }
}


$object1: (bottom:bottom, center: center, left: left, right: right, top: top, revert:revert);


@each $label,
$value in $object1 {
  .object-position-#{$label} {
    object-position: $value;
  }
}



@for $i from 1 through 10 {
  .text-truncate-#{$i} {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $i; /* number of lines to show */
    line-clamp:$i;
    -webkit-box-orient: vertical;
    // height: calc(100vh - #{$i}px);
  }
}



////////
/// 
/// 
.switch {
    position: relative;
    display: inline-block;
    width: 56px;
    height: 31px;

    &.mini{
      width: 31px;
      height: 17px;
    }
  }

  
  .switch input {display:none;}
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 23px;
    width: 23px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .switch.mini{
    .slider:before {
      height: 12px;
      width: 12px;
      bottom: 3px;
    }
  }
  
  
  input:checked + .slider {
    background-color:$secondary;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .switch.mini input:checked + .slider:before {
    -webkit-transform: translateX(12px);
    -ms-transform: translateX(12px);
    transform: translateX(12px);
  }
  
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }



  //custom scroll styling
#scroll {
  overflow-x: auto;
  overflow-y: auto;

  &:hover {
    &::-webkit-scrollbar-thumb {
      background-color: #d5d7d8;
    }
  }

  &::-webkit-scrollbar-track {
    width: 8px;
    // -webkit-box-shadow: inset 0 0 6px #dee2e6;
    border-radius: 6px;
    background-color: transparent;
  }

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    margin: 50px 0;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    width: 8px;
    border-radius: 6px;
    // -webkit-box-shadow: inset 0 0 6px #dee2e6;
    background-color: transparent;
  }
}

//custom scroll styling
#scroll-x {
  overflow-x: auto;
  overflow-y: hidden;

  &:hover {
    &::-webkit-scrollbar-thumb {
      background-color: #d5d7d8;
    }
  }

  &::-webkit-scrollbar-track {
    // -webkit-box-shadow: inset 0 0 6px #dee2e6;
    width: 8px;
    border-radius: 6px;
    background-color: transparent;
  }

  &::-webkit-scrollbar {
    width: 8px;
    // width: 2px;
    height: 6px;
    margin: 20px 0;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 6px;
    // -webkit-box-shadow: inset 0 0 6px #dee2e6;
    background-color: transparent;
  }
}

#scroll-y {
  overflow-x: hidden;
  overflow-y: auto;

  &:hover {
    &::-webkit-scrollbar-thumb {
      background-color: #d5d7d8;
    }
  }

  &::-webkit-scrollbar-track {
    width: 8px;
    // -webkit-box-shadow: inset 0 0 6px #dee2e6;
    border-radius: 6px;
    background-color: transparent;
  }

  &::-webkit-scrollbar {
    width: 8px;
    // width: 2px;
    height: 6px;
    margin: 20px 0;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    width: 8px;
    border-radius: 6px;
    // -webkit-box-shadow: inset 0 0 6px #dee2e6;
    background-color: transparent;
  }
}

.hide-scroll {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }
}
  