@import 'bootstrap/scss/bootstrap.scss';

// Colors
$primary: #083245;
$secondary: #66B100;
$white : #fff;
$danger : #ff0000; 

//font
$font-family-base: 'Montserrat',
sans-serif;


// scss-docs-start container-max-widths
$container-max-widths: (sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1534px) !default;
// scss-docs-end container-max-widths 

    
body{
    font-family: $font-family-base !important;
}

html {
    scroll-behavior: smooth;
}

//buttons
.btn{
    border-radius: 9px !important;
    padding: 7px 35px !important;
    white-space: nowrap;

    &:focus{
        box-shadow: none !important;
        outline: 0 !important;
    }
}


.btn-primary {
    color: #fff !important;
    background-color: $primary !important;
    border-color: $primary !important;
}


.btn-secondary {
    color: #fff !important;
    background-color: $secondary !important;
    border-color: $secondary !important;
}



//backgrounds
.bg-primary{
    background-color: $primary !important; 
}

.bg-secondary {
    background-color: $secondary !important;
}


.fw-bold {
    font-weight: 600 !important;
}

.text-success {
    color: #66B100 !important;
}

.text-orange {
    color: #F27205 !important;
}

a {
    color: $primary !important;
    text-decoration: none !important;
}


.section{
    padding: 92px 0 92px;
}

$objectLineheight: 0,
1,
2,
inherit,
initial,
normal,
revert,
unset;

@each $tuple in $objectLineheight {
    .line-height-#{($tuple)} {
        line-height: $tuple;
    }
}

//Form
.form-label{
    font-weight: 600;
    font-size: small;
}

.form-control {
    padding: 0.55rem 0.75rem;
    border-color: #E2E2E2;
    border-radius: 11px;
    
     &:focus {
         box-shadow: none !important;
         outline: 0 !important;
     }
}